<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="UseMinifiedCss" value="false"/>
    <add key="UseMinifiedJs"  value="false"/>
  </appSettings>
  <connectionStrings>
    <add name="CONNECTION_STRING_CONFIG" connectionString="Data Source=192.168.1.10;Initial Catalog=COLHUBTEST;Persist Security Info=True;User ID=AH-HUB;Password=Croydon#;Connection Timeout=60" providerName="System.Data.SqlClient"/>
    <add name="CONNECTION_STRING_CONFIG_" connectionString="Data Source=25.138.120.146;Initial Catalog=COLHUBTEST;Persist Security Info=True;User ID=AH-HUB;Password=Croydon#;Connection Timeout=60" providerName="System.Data.SqlClient"/>
    <add name="CONNECTION_STRING_CONFIG_DEVELOPMENT" connectionString="Data Source=HIT-DEV-02\SQL14;Initial Catalog=COLHUBTEST;Persist Security Info=True;User ID=sa;Password=AmpHse#46;Connection Timeout=60" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      
  -->
  <system.web>
    <httpRuntime targetFramework="4.5" maxRequestLength="10485760" />
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0"/>
    <sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" cookieless="false" timeout="120"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
    <!--<httpModules>
      <add name="JsonCompressionModule" type="JsonCompressionModule"/>
    </httpModules>-->
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>

    <handlers>
      <add name="ScriptHandlerFactory"
           verb="*" path="*.asmx"
           type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
           resourceType="Unspecified" />
    </handlers>
    <!--<modules>
      <add name="JsonCompressionModule" preCondition="managedHandler" type="JsonCompressionModule"/>
    </modules>-->
    <defaultDocument>
      <files>
        <add value="index.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <!--<system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="1" compilerOptions="C:\_Repositories\HubSolutionsCollectionHub\CollectionHubWeb\App_Code\AssemblyInfo.cs" />
    </compilers>
  </system.codedom>-->
</configuration>
