<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="UseMinifiedCss" value="false"/>
    <add key="UseMinifiedJs"  value="false"/>
  </appSettings>
  <connectionStrings>
    <add name="CONNECTION_STRING_CONFIG" connectionString="Data Source=192.168.1.10;Initial Catalog=COLHUBTEST;Persist Security Info=True;User ID=AH-HUB;Password=Croydon#;Connection Timeout=60" providerName="System.Data.SqlClient"/>
    <add name="CONNECTION_STRING_CONFIG_DEVELOPMENT" connectionString="Data Source=HIT-DEV-02\SQL14;Initial Catalog=COLHUBTEST;Persist Security Info=True;User ID=sa;Password=AmpHse#46;Connection Timeout=60" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0"/>
    <sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" cookieless="false" timeout="120"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="index.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>