<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CollectionHubData.Properties.Settings.COLHUBCOPYConnectionString"
            connectionString="Data Source=HUB-WEB-01;Initial Catalog=COLHUBCOPY;Persist Security Info=True;User ID=sa;Password=Croydon#"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>