<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="PollInterval" value="10000"/>
  </appSettings>
  <connectionStrings>
    <add name="CONNECTION_STRING_CONFIG" connectionString="Data Source=25.138.120.146;Initial Catalog=COLHUBTEST;Persist Security Info=True;User ID=AH-HUB;Password=Croydon#;Connection Timeout=60" providerName="System.Data.SqlClient"/>
    <add name="CONNECTION_STRING_CONFIG_DEVELOPMENT" connectionString="Data Source=HIT-DEV-02\SQL14;Initial Catalog=COLHUBTEST;Persist Security Info=True;User ID=sa;Password=AmpHse#46;Connection Timeout=60" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>