<ul class="nav" id="side-menu">
    <li class="sidebar-search">
        <div class="input-group custom-search-form">
            <input type="text" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
        <!-- /input-group -->
    </li>
    <li>
        <a href="dashboard.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
    </li>
    <li>
        <a href="search.html"><i class="fa fa-search fa-fw"></i> Search</a>
    </li>
    <li>
        <a href="workqueue.html"><i class="fa fa-bars fa-fw"></i> Work Queue</a>
    </li>
    <li>
        <a href="debtrecovery.html"><i class="fa fa-jpy fa-fw"></i> Auto Debt Recovery</a>
    </li>
